.m-adv {
  position: fixed;
  right: 10px;
  bottom: 0;
  width: 100%;
  height: 45px;
  z-index: 0;
  opacity: 0;
  background-color: var(--transparent-background-color);
  @include bs(0 -4px 10px rgba(0,0,0,0.1));

  @include respond-to('medium') {
    left: auto;
    right: 10px;
    width: 200px;
    height: auto;
  }

  @include respond-to('large') {
    left: auto;
    right: 10px;
    opacity: 1;
    width: 240px;
    height: auto;
    top: 0;
    background-color: transparent;
    @include bs(0 0 0 transparent);
  }

  @include respond-to('largest') {
    position: absolute;
    opacity: 1;
    top: 0;
    left: auto;
    right: -340px;
    width: 320px;
    height: auto;
  }


  a {
    color: inherit !important;
    img {
      margin-bottom: 10px;
    }
  }

  a:first-of-type {
    margin-left: 0;

    @include respond-to('large') {
      margin-bottom: 0;
    }
  }

  button:last-of-type {
    margin-right: 0;
  }
}

.rtl {
  .m-adv {
    @include respond-to('large') {
      right: auto;
      left: -75px;
    }

    @include respond-to('extra-large') {
      left: -175px;
    }

    @include respond-to('largest') {
      left: -200px;
    }
  }
}

.m-adv__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include respond-to('large') {
    position: sticky;
    top: 100px;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: auto;
  }
}

.rtl {
  .m-adv__content {
    direction: ltr;
  }
}
